*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    background: #ddd;
}

.banner{
    max-width: 1200px;
    margin: 0 auto;
}

.banner__header{
    font-size: 50px;
    margin: 60px 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1240px){
    .container{
        margin: 0 20px;
    }
}

.formSection__form{
    background: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
}

@media (max-width: 393px){
    .formSection__form{
        grid-template-columns: 1fr;
    }
}

.formSection__header{
    background: white;
    font-size: 25px;
    padding: 20px;
    margin:0;
    border-bottom: 1px solid #666;
}

.formSection__input{
    padding: 10px;
}

.formSection__button{
    background: teal;
    color:white;
    margin: 0 10px;
    outline: none;
    border: none;
}

@media (max-width: 393px){
    .formSection__button{
        margin: 10px 0;
        padding: 15px;
    }
}

.toDoList{
    background-color: white;
    margin-top: 10px;
}

.toDoList__header{
    padding: 20px;
    border-bottom: 1px solid #666;
}

.toDoList__list{
    max-width: 1200px;
    padding: 20px;
}

.toDoList__list--item{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    align-items: center;
    word-wrap: wrap;
}

.taskDescription{
    padding: 15px;
}

.toggleTask{
    width: 30px;
    height: 30px;
    background: green url("https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border:none;
    outline: none;
}

.toggleTask--ok{
    background: orange url("https://www.loversloc.com/skin/frontend/sm_market/default/images/icons/delete-new-icon.png");

    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.removeTask{
    width: 30px;
    height: 30px;
    background: red url("https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/recyclebin-512.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border:none;
    outline: none;
}